{% extends 'SupplierPortal/supplier_base.html' %}
{% block body_block %}
{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            
   
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                <h3 class="card-title pl-3" >Add Bill of Material</h3>
                
            </div>
            {% if messages %}
                <div id="message-container">
                    {% for message in messages %}
                    <div class="alert 
                        {% if message.tags %}
                            alert-{{ message.tags }}
                        {% else %}
                            alert-info
                        {% endif %}"
                        role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
             
                <div class="row p-1 mb-2">
                    <div class="col-md-6">
                        <label >Product</label>
                        <input type="text" class="form-control" value = "{{records.item.item_name}} {{records.conversion_factor_to_base}}/{{records.unit}}({{records.brand}})" readonly>
                    </div>
                </div>
           
            </div>
        </div>
    </div>

  <form method="post">
    {% csrf_token %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body"> 
            <div class="table-responsive">
                <table class="table" id="tableID">
                    <thead class="bg-col">
                        <tr>
                            <th>Item Name </th>
                        
                            <th>Qty</th>
                            <th>Unit Price</th>
                            
                            <th>Total Amt</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td>
                                    <select class="form-control text-dark item-unit" style="width: 150px;" name="item_unit">
                                        <option value="None">---select---</option>
                                        {% for item in itemunit  %}
                                        <option value="{{item.id}}">{{item.item.item_name}} ({{item.conversion_factor_to_base}}/{{item.unit}}) {{item.brand}} </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                
                                <td>
                                    <input type="number" class="form-control quantity-field" style="width: 150px;" name="quantity_received">
                                </td>
                                <td> 
                                    <input type="number" class="form-control unit-price-field" value="{{item.price}}" style="width: 150px;" name="amt" readonly>
                                </td>
                                
                                <td>
                                    <input type="number" class="form-control total-value-field" name = "total_amt" style="width: 150px;" value="0" readonly>
                                </td>
                                <td><textarea class="form-control" name="Description" row='3' col='5'></textarea></td>
                                <td >
                                    <button class="btn btn-primary py-2" type="submit">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <table class="table" id="tableID">
                    <thead class="bg-col">
                        <tr>
                            <th>Item Name </th>
                        
                            <th>Qty</th>
                            <th>Unit Price</th>
                  
                            <th>Description</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                            {% for data in allrecords %}
                            <tr>
                                <td>
                                   {{data.product.item.item_name}}/{{data.product.conversion_factor_to_base}}{{data.product.unit}}({{data.product.brand}})
                                </td>
                                
                                <td>{{data.quantity_required}}</td>
                                <td>{{data.product.price}}</td>
                       
                                <td>{{data.description}}</td>
                             
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </form>
                

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // When OrderType changes
    $(document).on("change", ".item-unit", function() {
        let row = $(this).closest("tr"); // Get the current row
        let itemUnit = row.find(".item-unit").val(); // Get selected item unit
 
  
        // If "Package" is selected, fetch package sizes
        if (itemUnit) {
            $.ajax({
                url: "{% url 'get_itemunitdetails_js' %}", // Django URL to fetch package sizes
                type: "POST",
              
                headers: {
                            'X-CSRFToken': '{{ csrf_token }}' // CSRF token for Django
                        },
                data: { itemunit: itemUnit },
                success: function(response) {
                   
                    row.find('.unit-price-field').val(response.price)
                }
            });
        } else {
            packageDropdown.html('<option value="None">-------</option>'); // Reset if "Piece" is selected
        }
    });
});


$(document).on('keyup change', '.quantity-field', function() {
    var row = $(this).closest('tr'); // Get the parent row
    var quantity = parseFloat($(this).val()) || 0;
    var unitPrice = parseFloat(row.find('.unit-price-field').val()) || 0;

    var total = quantity * unitPrice;

    row.find('.total-value-field').val(total.toFixed(2)); // Set total with 2 decimal points
});

</script>
{% endblock %}

