{% extends 'AdminPortal/base.html' %}
{% block body_block %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
--color:  oklch(86.63% 0.25 148.01);
--line-border-empty: oklch(76.63% 0.25 148.01);
--text-empty:        oklch(71.63% 0.25 148.01);
--line-border-fill:  oklch(64.29% 0.26 360);
--text-fill:         oklch(46.63% 0.25 148.01);
}
.container {
text-align: center;
}

.progress-container {
display: flex;
justify-content: space-between;
position: relative;
margin-bottom: 30px;
max-width: 100%;
width: 450px;
}

.progress-container::before {
content:'';
background-color: var(--line-border-empty);
position: absolute;
top: 18px;
left: 20px;
transform: translateY(-100%);
height: 4px;
width: 100%;
z-index: -1;
}

.progress {
background-color: var(--line-border-fill);
position: absolute;
top: 18px;
left: 20px;
transform: translateY(-50%);
height: 4px;
max-width: 80%;
width: 0% !important;
z-index: -1;
transition: 400ms ease;
}

.text-wrap {
display: inline-block;
text-align: center;
width: 75px;
}

.text-wrap p {
font-weight: 400;
font-size: 12px;
color: var(--text-empty);
}

.text-wrap.active p {
font-weight: 500;
color: var(--text-fill);
transition: 400ms ease;
}

.circle {
background-color: rgb(44, 202, 194);
border: 3px solid var(--line-border-empty);
color: rgb(14, 3, 3);
font-weight: 700;
border-radius: 76%;
height: 55px;
width: 55px;
position: relative; /* Position the child element */
left: 20px; 
display: flex;
align-items: center;
justify-content: center;
transition: 500ms ease;
}

.text-wrap.active div.circle {
border-color: rgb(23, 150, 167);
color: rgb(14, 3, 3);
}

.btn {
background-color: var(--line-border-fill);
color: white;
border: 0;
border-radius: 4px;
cursor: pointer;
font-family: inherit;
padding: 15px 35px;
margin: 5px;
font-size: 14px;
}

.btn:active {
transform: scale(1.98);
}


.btn:focus {
outline: 0;
}

.btn:disabled {
background-color: var(--line-border-empty);
cursor:not-allowed;
color: var(--color);
transform: none;
}
</style>
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <h3>Suppliers List</h3>

            </div>

           
          <div class="card-body">
            <div class="container">
                <div class="progress-container">
                    <div class="progress" id="progress"></div>
                    <div class="text-wrap active">
                        <div class="circle">-</div>
                        <p class="text">{{supplier_store}}</p>
                    </div>
                    {% for data in subrecords %}
                    <div class="text-wrap active">
                        <div class="circle">{{data.sequence}}</div>
                        <p class="text">{{data.intermediate_store.name}}</p>
                    </div>
                    {% endfor %}
                    <div class="text-wrap active">
                        <div class="circle">-</div>
                        <p class="text">{{customer_store}}(Destination)</p>
                    </div>
                    
                </div>
               
            </div>
              
              

            </div> 
           
        </div>
    </div>
</div>

<script>
    const progress = document.getElementById('progress')
const back = document.getElementById('back')
const next = document.getElementById('next')
const wraps = document.querySelectorAll('.text-wrap')

let currentActive = 1

next.addEventListener('click', () => {
currentActive++
if(currentActive > wraps.length) {
    currentActive = wraps.length
}

update()
})

back.addEventListener('click', () => {
currentActive--
if(currentActive < 1) {
    currentActive = 1
}

update()
})

function update() {
wraps.forEach((wrap, index) => {
    if(index < currentActive) {
        wrap.classList.add('active')
    } else {
        wrap.classList.remove('active')
    }
})

const actives = document.querySelectorAll('.active')
progress.style.width = (actives.length - 1) / (wraps.length - 1)* 80 + '%'

if(currentActive === 1) {
    back.disabled = true
} else if(currentActive === wraps.length) {
    next.disabled = true
} else {
    back.disabled = false
    next.disabled = false
}
}
</script>
  

{% endblock %}
