{% extends 'SupplierPortal/supplier_base.html' %}
{% block body_block %}
{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            
   
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                <h3 class="card-title">Stock Return To Manufacturer</h3>
                
            </div>
                <form method ="POST">
                    {% csrf_token %}
                <div class="row p-1 mb-2">
                    <div class="col-md-3">
                        <label >Branch</label>
                        <input type="text" class="form-control" value="{{supplier.supplier}}" readonly>
                    </div>
                    <div class="col-md-3">
                        <label >Branch Store</label>
                        <input type="text" class="form-control" value="{{supplier.name}}({{supplier.storetype}})" readonly>
                    </div>
                    <div class="col-md-3">
                        <label >Manufacturer</label>
                        <select name="manufacturer" id="manufacturer" class="form-control" required>
                            <option selected disabled>Choose</option>
                            {% for data in manufacturer %}
                            <option value="{{data.id}}">{{data.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3 pt-4">
                    <button type="submit" class="btn btn-primary btn-sm mr-3"><i class="fas fa-search"></i>
                    </button>
                    <a href="{% url 'viewreturntomanufacturermain' %}" class="btn btn-primary btn-sm mr-3"><i class="fas fa-eye"></i> View
                    </a>
                </div>
              
                    <!-- <div class="col-md-3">
                        <label >Product-SubCategory</label>
                        <select name="subcategory" id="subcategory" class="form-control">
                            <option selected disabled>Choose</option>
                            {% for data in subcategory %}
                            <option value="{{data.id}}">{{data.category.name}} - {{data.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3">
                        <label >Product</label>
                        <select name="subcategory" id="subcategory" class="form-control">
                            <option selected disabled>Choose</option>
                            {% for data in product %}
                            <option value="{{data.id}}">{{data.item.item_name}}/{{data.conversion_factor_to_base}}{{data.unit.symbol}}</option>
                            {% endfor %}

                        </select>
                    </div> -->
    
                </div>
           
             
        
            </form>

            </div>
         
        </div>
    </div>
</div>


{% endblock %}
