{% extends 'SupplierPortal/supplier_base.html' %}
{% block body_block %}
{% load static %}
<style>
    body {
  padding: 2rem 0rem;
}

.card {
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
}

</style>
<style>
  .double-buttons.small {
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
  font-size: 11px;
  overflow: hidden;
  position: relative;
}

.double-buttons.small a {
  display: inline-block;
  padding: 0 16px;
  line-height: 30px;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.double-buttons.small a:first-child {
  border-right: 1px solid #ddd;
}

.double-buttons.small a:hover {
  background-color: #EE4E44;
  color: #fff;
}

.double-buttons.small a:active {
  background-color: #444;
  color: #fff;
}

.double-buttons.small .or {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #666;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  pointer-events: none;
}

</style>
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        
                <div class="container">
                    <div class="row">
                      <!-- <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center" style="background-color: #fff; border-left: 4.5px solid #186306; border-right: 4.5px solid #186306;">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <img src="https://cdn-icons-png.flaticon.com/512/906/906175.png" width="60" height="60" class="me-3 p-2 rounded">
                              <div class="text-start">
                                <h5 class="card-title mb-2">Direct Transfer</h5>
                   
                                <div class="double-buttons small">
                                  <a href="{% url 'stocktransfertostore' %}">Process</a>
                                 <a href="#">View</a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center" style="background-color: #fff; border-left: 4.5px solid #186306; border-right: 4.5px solid #186306;">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <img src="https://cdn-icons-png.flaticon.com/512/1170/1170678.png" width="60" height="60" class="me-3 p-2 rounded" alt="Distributor Request">
                              <div class="text-start">
                                <h5 class="card-title mb-2">Distributor Transfer</h5>
                                <div class="double-buttons small">
                                  <a href="{% url 'distributor_request' %}">Process</a>
                                 <a href="{% url 'distributortransfered_view' %}">View</a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                      
                      
                      
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center" style="background-color: #fff; border-left: 4.5px solid #186306; border-right: 4.5px solid #186306;">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <img src="https://cdn-icons-png.flaticon.com/512/109/109617.png" width="60" height="60" class="me-3 p-2 rounded">
                              <div class="text-start">
                                <h5 class="card-title mb-2">Transfer Confirmation</h5>
            
                                <div class="double-buttons small">
                                  <a href="{% url 'disply_distributor_transfer' %}">Process</a>
                                 <a href="{% url 'confirmeddistributor_transfered' %}">View</a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center" style="background-color: #fff; border-left: 4.5px solid #186306; border-right: 4.5px solid #186306;">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <img src="https://cdn-icons-png.flaticon.com/512/3349/3349159.png" width="60" height="60" class="me-3 p-2 rounded">
                              <div class="text-start">
                                <h5 class="card-title mb-2">Assign Logistics</h5>
                             
                                <div class="double-buttons small">
                                  <a href="{% url 'assignlogistic_distributortransfer' %}">Process</a>
                                 <a href="{% url 'distributor_logisticsview' %}">View</a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center" style="background-color: #fff; border-left: 4.5px solid #186306; border-right: 4.5px solid #186306;">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <img src="https://cdn-icons-png.flaticon.com/512/3050/3050525.png" width="60" height="60" class="me-3 p-2 rounded">
                              <div class="text-start">
                                <h5 class="card-title mb-2">Transfer Details</h5>
                       
                                <div class="double-buttons small">
                                  <a href="{% url 'destributorstock_transferdetails' %}">View</a>
                                
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
            
         

    </div>
</div>


{% endblock %}
