{% extends 'SupplierPortal/supplier_base.html' %}
{% block body_block %}
{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% if 'stocktransferroutemain_create' in user_permissions %}
                <a href="{% url 'stocktransferroutemain_create' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>
                {% endif %}
                <h3>{{screen_name}}</h3>

                <!-- New Tab -->
            </div>
            {% if 'stocktransferroutemain_view' in user_permissions %}
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableID" class="display table table-hover">
                        <thead class="bg-col">
                            <tr>
                                <th>No.</th>
<th>name</th>
<th>from store</th>
<th>to store</th>
<th>status</th>
<th>tracking id</th>
                                    <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
<td>{{data.name}}</td>
<td>{{data.from_store}}</td>
<td>{{data.to_store}}</td>
<td>{{data.status}}</td>
<td>{{data.tracking_id}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button"
                                                id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                           
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                                                <a class="dropdown-item" href="{% url 'stocktransferroutemain_detail' data.pk %}">
                                                    <button class="btn iconbg-rose" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="View"><i
                                                            class="fa fa-eye"></i> View</button>
                                                </a>
                                                {% if 'stocktransferroutemain_update' in user_permissions %}
                                                <a class="dropdown-item" href="{% url 'stocktransferroutemain_update' data.pk %}">
                                                    <button class="btn iconbg-yellow" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Edit"><i class="fas fa-edit"></i>
                                                        Edit</button>
                                                </a>
                                                {% endif %}
                                                {% if 'stocktransferroutemain_delete' in user_permissions %}
                                                <a class="dropdown-item" href="{% url 'stocktransferroutemain_delete' data.pk %}">
                                                    <button class="btn iconbg-rose" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Delete"><i
                                                            class="fas fa-trash-alt"></i> Delete</button>
                                                </a>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br><br><br>

            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
