{% extends 'SupplierPortal/supplier_base.html' %}
{% block body_block %}
{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            
   
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                <h3 class="card-title">Manual Stock Adjust</h3>
             
            </div>
                <form method ="POST">
                    {% csrf_token %}
                <div class="row p-1 mb-2">
                    <div class="col-md-3">
                        <label >Branch</label>
                        <input type="text" class="form-control" value="{{supplier.supplier}}" readonly>
                    </div>
                    <div class="col-md-3">
                        <label >Branch Store</label>
                        <input type="text" class="form-control" value="{{supplier.name}}({{supplier.storetype}})" readonly>
                    </div>
                    {% comment %} <div class="col-md-3">
                        <label >Supplier</label>
                        <input type="text" class="form-control" value="{{manufacture.supplier}}"     readonly>

                    </div> {% endcomment %}
                    <!-- <div class="col-md-3">
                        <label >Product-SubCategory</label>
                        <select name="subcategory" id="subcategory" class="form-control">
                            <option selected disabled>Choose</option>
                            {% for data in subcategory %}
                            <option value="{{data.id}}">{{data.category.name}} - {{data.name}}</option>
                            {% endfor %}

                        </select>
                    </div> -->
                    <!-- <div class="col-md-3">
                        <label >Product</label>
                        <select name="subcategory" id="subcategory" class="form-control">
                            <option selected disabled>Choose</option>
                            {% for data in product %}
                            <option value="{{data.id}}">{{data.item.item_name}}/{{data.conversion_factor_to_base}}{{data.unit.symbol}}</option>
                            {% endfor %}

                        </select>
                    </div> -->
                    <!-- <div class="col-md-3 pt-4">
                        <button type="submit" name="search_btn" value="search_btn" class="btn btn-primary btn-sm mr-3"><i class="fas fa-search"></i>
                        </button>
                    </div>
     -->
                </div>
            </form>
             
                <form method="POST">
                    {% csrf_token %}
             
                    <div class="text-right mt-2 mb-1">
                        <button type="submit" name="return_btn" value="return_btn" class="btn btn-primary btn-sm mr-3">Adjust Stock
                        </button>
                    </div>
                <div class="table-responsive">
                    <table id="tableID" class="display table table-hover">
                        <thead class="bg-col">
                            <tr>
                                <th>#.</th>
                     
                                <th>Brand</th>
                                <th>Product</th>
                                {% comment %} <th>Unit</th> {% endcomment %}
                                <th>Instock</th>
                                <th>Available quantity</th>
                                <th>Qty</th>
                                <th>Type</th>
                                {% comment %} <th >Reason</th> {% endcomment %}
                                <th>Expiry Date</th>
                                <th>Batch</th>
                                {% comment %} <th>Packsize</th> {% endcomment %}
                                <th>Price</th>
                                <th>Tax</th>
                                <th>discount</th>
                                <th>discount_type</th>
                                <th>manufacture_date</th>
                            
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td><input type="checkbox" name="active_products" value="{{data.id}}"></td>
                           
                                <td>{{data.item_unit.brand}}</td>
                                <td>{{data.item_unit.item}}</td>
                                {% comment %} <td>{{data.item_unit.conversion_factor_to_base}}/{{data.item_unit.unit.symbol}}</td> {% endcomment %}
                                <td>{{data.stock_balance}}</td>
                                <td>{{data.inhand_pieces}}</td>
                                <td><input type="number" name="returnqty_{{data.id}}" class="form-control" style="width: 100px;"></td>
                                <td><select name="returntype_{{data.id}}" id="returntype" class="form-control" style="width: 100px;">
                                    <option value="Piece">Piece</option>
                                    <option value="Package">Package</option>
                                </select></td>
                                {% comment %} <td><textarea name="Reason_{{data.id}}" id="Reason" class="form-control"></textarea></td> {% endcomment %}

                                <td>{{data.expiry_date}}</td>
                                <td>{{data.batch_no}}</td>
                                {% comment %} <td>{{data.packsize}}</td> {% endcomment %}
                                <!-- <td>{% if data.receivetype == 'Piece' %}{{data.item_unit.price}}{% else %}{{data.packsize.pack_price}} {% endif %}</td> -->
                                 <td>
                                    {% if data.receivetype == 'Piece' %}
                                        {{ data.item_unit.price }}
                                    {% else %}
                                        {% if data.packsize %}
                                            {{ data.packsize.pack_price }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td>{{data.tax}}</td>
                             
                                    <td>{{data.discount}}</td>
                                    <td>{{data.discount_type}}</td>
                                    <td>{{data.manufacture_date}}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
         

            </div>
         
        </div>
    </div>
</div>


{% endblock %}
